/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  width: 100%; height: 100%;
  color: white;
  background: content-box radial-gradient(circle, darkblue, black);
}

body {
  margin: 0;
}

header {
  position: relative;
  height: 64px;
  z-index: 1;
  width: 100%;
  text-decoration: none;
}

.logo {
  font-size: 22px;
  position: absolute;
  padding: 20px;
  height: 30;
}


.menus {
  top: 50%;
  float: right;
  padding: 20px;
  list-style: none;
  margin: 0;
  height: 30;
}

li {
  padding-left: 30px;
  float: left;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  z-index: 0;
  text-align: center;
}

p {
  text-align: center;
}
