/* 空白を削除 */
* {
    margin: 0px;
    padding: 0px;
}



body {
  color: #2d394d;
  font-family: arial, sans-serif;
}


/* code */
pre.chroma {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #EEE;
}

code {
  font-size: 80%;
  font-family: "Roboto Mono", Monaco, courier, nonospace;
}


/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 40px;
}

table th,table td {
  padding: 10px 10px;
}

table tr:nth-child(odd) {
  background-color: #eee;
}


/* nav menu */
#nav {
  list-style: none;
  font-size: 0;
}

#nav li {
  height: 60px;
  width: 200px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

#nav li .img {
  display: inline-block;
  width: 200px;
}

#nav .img {
  display:inline-block;
  vertical-align: top;
}
#nav .str {
  color: #999;
  display: inline;
  vertical-align: middle;
  text-decoration: none;
}

#nav .active {
  color: #34c0eb;
}






/* lp */
#lp {
  position: relative;
  background: orange;
  padding: 100px;
  height: 200px;
}

#lp .block {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

#lp .logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  background-position: center;
}
