<header>
  <div class="logo">
    <a href="/">SNS</a>
  </div>
  <ul class="menus">
    <li><a href="/about">What is SNS<a></li>
    <li><%= link_to("Posts", "/posts/index") %></li>
  </ul>
</header>
