<header>
  <div>
    <a href="/">SNS</a>
  </div>
  <ul>
    <li><a href="/about">What is SNS<a></li>
  </ul>
</header>

<div>
  <h2>What is SNS?</h2>
  <p>近況を報告し、他のユーザとコミュニケーションを取ることができます。</p>
</div>
