<header>
  <div class="logo">
    <a href="/">SNS</a>
  </div>
  <ul class="menus">
    <li><a href="/about">What is SNS<a></li>
  </ul>
</header>

<div class="main">
  <h2>つながれ、ことばで</h2>
  <p>今の気持ちを書き出そう</p>
</div>
